<h1>Om King Size Big Band</h1>
<div class="row">
    <div class="col">
        $body$
    </div>
    <div class="col">
        <figure class="figure">
        <img src="/images/06.jpg" class="img-fluid">
        <figcaption class="figure-caption">Her spiller vi et fedt sted</figcaption>
        </figure>
        <figure class="figure">
        <img src="/images/galaksen3.jpg" class="img-fluid">
        <figcaption class="figure-caption">Her spiller vi et fedt sted</figcaption>
        </figure>
    </div>
</div>

