<div class="container">
<div class="section">
<div class="row">
    <h3>Om King Size Big Band</h3>
    <div class="col s6">
        $body$
    </div>
    <div class="col s6">
        <figure class="figure">
        <img src="/images/06.jpg" class="responsive-img">
        <figcaption class="figure-caption">Her spiller vi et fedt sted</figcaption>
        </figure>
        <figure class="figure">
        <img src="/images/galaksen3.jpg" class="responsive-img">
        <figcaption class="figure-caption">Her spiller vi et fedt sted</figcaption>
        </figure>
    </div>
</div>
</div>
</div>

