
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <title>King Size Big Band - $title$</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <link href="/css/default.css" rel="stylesheet" media="screen,projection"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <nav class="grey darken-3" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/">
                    <img class="responsive-img" style="height: 64px;" src="/images/logo.png">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/about.html">Om King Size</a></li>
                    <li><a href="/musicians.html">Musikerne</a></li>
                    <li><a href="/events.html">Koncerter</a></li>
                    <li><a href="/booking.html">Booking</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="/about.html">Om King Size</a></li>
                    <li><a href="/musicians.html">Musikerne</a></li>
                    <li><a href="/events.html">Koncerter</a></li>
                    <li><a href="/booking.html">Booking</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center teal-text text-lighten-2">King Size Big Band</h1>
                    <div class="row center">
                        <h5 class="header col s12 light">Et af Københavns bedste</h5>
                    </div>
                    <div class="row center">
                        <a href="/booking.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Book os</a>
                    </div>
                    <br><br>

                </div>
            </div>
            <div class="parallax"><img src="./images/banner.jpg" alt="Background image"></div>
        </div>


        $body$

          <footer class="page-footer grey">
    <div class="container">
      <div class="row">
          <p class="grey-text text-lighten-4">King Size Big Band v/ Jens Norrild</p>
          <p class="grey-text text-lighten-4">Tlf: +45 3075 4392</p>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Design af <a class="brown-text text-lighten-4" href="https://ckjaer.dk">Christian Kjær Larsen</a>
        </div>
    </div>
          </footer>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>
